{% extends 'base.html' %}

<!-- Bloc du contenu <title> -->
{% block title %}Enregistrer un livre - Bibliothèque{% endblock %}

<!-- Bloc du contenu <main> -->
{% block main %}
<div class="form_register">
  <h3>Enregistrer un livre :</h3>

  <form action="{{ url_for('register_book') }}" method="post">
    <div class="form-group">
      <label for="titre">Titre du livre</label>
      <input type="text" class="form-control" id="titre" name="titre" required />
    </div>

    <div class="form-group">
      <label for="auteur">Auteur du livre</label>
      <input type="text" class="form-control" id="auteur" name="auteur" required />
    </div>

    <div class="form-group">
      <label for="annee_publication">Année de publication</label>
      <input type="number" class="form-control" id="annee_publication" name="annee_publication" value="{{ current_year }}" required />
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" name="genre" required />
    </div>

    <div class="form-group">
      <label for="genre">Quantité en stock</label>
      <input type="number" class="form-control" id="quantite_stock" name="quantite_stock" min="1" required />
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer le livre</button>
  </form>
</div>
{% endblock %}
